@media screen and (min-width: 376px) {
  .d {
    &-none {
      display: none;
    }
    &-justify-content{
      &-flex-end{
        
      }
    }
  }
}

.d {
  &-inline-block{
    display: inline-block;
  }
  &-flex {
    display: flex;
    &-direction {
      &-row-reverse {
        flex-direction: row-reverse;
      }
      &-column{
        flex-direction: column;
      }
    }
  }
}
.space {
  &-between {
    justify-content: space-between;
  }
  &-evenly {
    justify-content: space-evenly;
  }

}
.align-items {
  &-center {
    align-items: center;
  }
}
.justify-content {
  &-center {
    justify-content: center;
  }
  &-flex-end {
    justify-content: flex-end;
  }
  &-flex-start{
    justify-content: flex-start;
  }
}
.wrap {
  flex-wrap: wrap;
}
.gap {
  gap: 20px;
}
.flex-grow{
  flex-grow: 1;
}
.margin {
  &-none {
    margin: 0px;
  }
  &-0 {
    margin: $rem * 0.8;
  }
  &-1 {
    margin: $rem;
  }
  &-1 {
    &-and-20 {
      margin: $rem * 1.2;
    }
    &-and-50 {
      margin: $rem * 1.5;
    }
  }
  &-2 {
    margin: $rem * 2;
  }
  &-3 {
    margin: $rem * 3;
  }
  &-4 {
    margin: $rem * 4;
  }
  &-5 {
    margin: $rem * 5;
  }
  &-6 {
    margin: $rem * 6;
  }
  &-7 {
    margin: $rem * 7;
  }
  &-x {
    &-1 {
      &-and-20 {
        margin: $rem * 1.2 0px;
      }
      &-and-50 {
        margin: $rem * 1.5 0px;
      }
    }
  }
  &-y {
    &-0 {
      margin: 0px $rem * 0.3;
    }
    &-1 {
      margin: 0px $rem * 1;
      &-and-20 {
        margin: 0px $rem * 1.2;
      }
    }
    &-customize {
      margin: 0px $rem * 9.75 * 2;
    }
  }
  &-top {
    &-0 {
      margin-top: $rem * 0.8;
    }
    &-1 {
      margin-top: $rem;
    }
    &-1 {
      &-and-20 {
        margin-top: $rem * 1.2;
      }
      &-and-50 {
        margin-top: $rem * 1.5;
      }
    }
    &-2 {
      margin-top: $rem * 2;
    }
    &-3 {
      margin-top: $rem * 3;
    }
    &-4 {
      margin-top: $rem * 4;
    }
    &-5 {
      margin-top: $rem * 5;
    }
    &-6 {
      margin-top: $rem * 6;
    }
    &-7 {
      margin-top: $rem * 7;
    }
    &-8 {
      margin-top: $rem * 8;
    }
  }
  &-left {
    &-0 {
      margin-left: $rem * 0.8;
    }
    &-1 {
      margin-left: $rem;
    }
    &-1 {
      &-and-20 {
        margin-left: $rem * 1.2;
      }
      &-and-50 {
        margin-left: $rem * 1.5;
      }
    }
    &-2 {
      margin-left: $rem * 2;
    }
    &-3 {
      margin-left: $rem * 3;
    }
    &-4 {
      margin-left: $rem * 4;
    }
    &-5 {
      margin-left: $rem * 5;
    }
    &-6 {
      margin-left: $rem * 6;
    }
    &-7 {
      margin-left: $rem * 7;
    }
  }
  &-right {
    &-0 {
      margin-right: $rem * 0.8;
    }
    &-1 {
      margin-right: $rem;
    }
    &-1 {
      &-and-20 {
        margin-right: $rem * 1.2;
      }
      &-and-50 {
        margin-right: $rem * 1.5;
      }
    }
    &-2 {
      margin-right: $rem * 2;
    }
    &-3 {
      margin-right: $rem * 3;
    }
    &-4 {
      margin-right: $rem * 4;
    }
    &-5 {
      margin-right: $rem * 5;
    }
    &-6 {
      margin-right: $rem * 6;
    }
    &-7 {
      margin-right: $rem * 7;
    }
    &-15{
      margin-right: $rem * 15;
    }
  }
  &-bottom {
    &-0 {
      margin-bottom: $rem * 0.8;
    }
    &-1 {
      margin-bottom: $rem;
    }
    &-1 {
      &-and-20 {
        margin-bottom: $rem * 1.2;
      }
      &-and-50 {
        margin-bottom: $rem * 1.5;
      }
    }
    &-2 {
      margin-bottom: $rem * 2;
    }
    &-3 {
      margin-bottom: $rem * 3;
    }
    &-4 {
      margin-bottom: $rem * 4;
    }
    &-5 {
      margin-bottom: $rem * 5;
    }
    &-6 {
      margin-bottom: $rem * 6;
    }
    &-7 {
      margin-bottom: $rem * 7;
    }
  }
}
.padding {
  &-0 {
    padding: $rem * 0.8;
  }
  &-1 {
    padding: $rem;
  }
  &-1 {
    &-and-50 {
      margin: $rem * 1.5;
    }
  }
  &-2 {
    padding: $rem * 2;
  }
  &-3 {
    padding: $rem * 3;
  }
  &-4 {
    padding: $rem * 4;
  }
  &-5 {
    padding: $rem * 5;
  }
  &-6 {
    padding: $rem * 6;
  }
  &-7 {
    padding: $rem * 7;
  }
  &-bottom {
    padding: $rem * 1 $rem * 1.2;
  }
  &-top {
    &-0 {
      padding-top: $rem * 0.8;
    }
    &-1 {
      padding-top: $rem;
    }
    &-1 {
      &-and-50 {
        padding-top: $rem * 1.5;
      }
    }
    &-2 {
      padding-top: $rem * 2;
    }
    &-3 {
      padding-top: $rem * 3;
    }
    &-4 {
      padding-top: $rem * 4;
    }
    &-5 {
      padding-top: $rem * 5;
    }
    &-6 {
      padding-top: $rem * 6;
    }
    &-7 {
      padding-top: $rem * 7;
    }
  }
  &-left {
    &-0 {
      padding-left: $rem * 0.8;
    }
    &-1 {
      padding-left: $rem;
    }
    &-1 {
      &-and-50 {
        padding-left: $rem * 1.5;
      }
    }
    &-2 {
      padding-left: $rem * 2;
    }
    &-3 {
      padding-left: $rem * 3;
    }
    &-4 {
      padding-left: $rem * 4;
    }
    &-5 {
      padding-left: $rem * 5;
    }
    &-6 {
      padding-left: $rem * 6;
    }
    &-7 {
      padding-left: $rem * 7;
    }
  }
  &-right {
    &-0 {
      padding-right: $rem * 0.8;
    }
    &-1 {
      padding-right: $rem;
    }
    &-1 {
      &-and-50 {
        padding-right: $rem * 1.5;
      }
    }
    &-2 {
      padding-right: $rem * 2;
    }
    &-3 {
      padding-right: $rem * 3;
    }
    &-4 {
      padding-right: $rem * 4;
    }
    &-5 {
      padding-right: $rem * 5;
    }
    &-6 {
      padding-right: $rem * 6;
    }
    &-7 {
      padding-right: $rem * 7;
    }
  }
  &-bottom {
    &-0 {
      padding-bottom: $rem * 0.8;
    }
    &-1 {
      padding-bottom: $rem;
    }
    &-1 {
      &-and-50 {
        padding-bottom: $rem * 1.5;
      }
    }
    &-2 {
      padding-bottom: $rem * 2;
    }
    &-3 {
      padding-bottom: $rem * 3;
    }
    &-4 {
      padding-bottom: $rem * 4;
    }
    &-5 {
      padding-bottom: $rem * 5;
    }
    &-6 {
      padding-bottom: $rem * 6;
    }
    &-7 {
      padding-bottom: $rem * 7;
    }
  }
}
.width {
  &-0 {
    width: 0.6 * $rem;
  }
  &-1 {
    width: $rem;
  }
  &-2 {
    width: $rem * 2;
  }
  &-3 {
    width: $rem * 3;
  }
  &-4 {
    width: $rem * 4;
  }
  &-5 {
    width: $rem * 5;
  }
  &-6 {
    width: $rem * 6;
  }
  &-7 {
    width: $rem * 7;
  }
  &-8 {
    width: $rem * 8;
  }
  &-10 {
    width: $rem * 10;
  }
  &-20 {
    width: $rem * 20;
  }
  &-21 {
    width: $rem * 21;
  }
  &-100{
    width: 100 * $rem;
  }
  &-120 {
    width: $rem * 120;
  }
  &-percent {
    &-30 {
      width: 30%;
    }
    &-32 {
      width: 32%;
    }
    &-50{
      width: 50%;
    }
    &-70 {
      width: 70%;
    }
    &-100 {
      width: 100%;
    }
  }
}

.height {
  &-0 {
    height: 0.6 * $rem;
  }
  &-1 {
    height: $rem;
  }
  &-2 {
    &-and-50 {
      height: $rem * 2.5;
    }
    height: $rem * 2;
  }
  &-3 {
    height: $rem * 3;
  }
  &-4 {
    height: $rem * 4;
  }
  &-5 {
    height: $rem * 5;
  }
  &-6 {
    height: $rem * 6;
  }
  &-7 {
    height: $rem * 7;
  }
  &-8 {
    height: $rem * 8;
  }
  &-13 {
    &-and-50 {
      height: $rem * 13.5;
    }
  }
  &-120 {
    width: $rem * 120;
  }
}

@media screen and (max-width: 375px) {
  .sm {
    &-margin {
      &-none {
        margin: 0px;
      }
      &-x {
        &-1 {
          margin: 0px $rem;
          &-and-25 {
            margin: 0px $rem * 1.25;
          }
          &-and-75 {
            margin: 0px $rem * 1.75;
          }
        }
      }
      &-y {
        &-1 {
          margin: $rem 0px;
          &-and-75 {
            margin: $rem * 1.75 0px;
          }
        }
      }
      &-1 {
        margin: $rem;
        &-and-75 {
          margin: $rem * 1.75;
        }
      }
      &-top {
        &-0 {
          margin-top: 0px;
        }
        &-1 {
          margin-top: 1 $rem;
        }
        &-2 {
          margin-top: 2 $rem;
        }
        &-2 {
          &-and-40 {
            margin-top: 2.4 * $rem;
          }
        }
      }
      &-right {
        &-1 {
          margin-right: 1 $rem;
          &-and-25 {
            margin: 0px $rem * 1.25;
          }
        }
      }
      &-bottom {
        &-1 {
          margin-bottom: 1 $rem;
        }
      }
      &-left {
        &-0 {
          margin-left: $rem;
        }
        &-1 {
          margin-left: 1 $rem;
          &-and-25 {
            margin: 0px $rem * 1.25;
          }
        }
      }
    }
    &-padding {
      &-x {
        &-1 {
          padding: 0px $rem;
          &-and-25 {
            padding: 0px $rem * 1.25;
          }
          &-and-75 {
            padding: 0px $rem * 1.75;
          }
        }
      }
      &-y {
        &-1 {
          padding: $rem 0px;
          &-and-75 {
            padding: $rem * 1.75 0px;
          }
        }
      }
      &-1 {
        padding: $rem;
      }
      &-top {
        &-1 {
          padding-top: $rem;
        }
        &-8{
          padding-top: 8 * $rem;
        }
      }
      &-right {
        &-1 {
          padding-right: $rem;
        }
      }
      &-bottom {
        &-1 {
          padding-bottom: $rem;
        }
      }
      &-left {
        &-1 {
          padding-left: $rem;
        }
      }
    }
    &-bold {
      font-weight: bold;
    }
    &-d {
      &-flex {
        display: flex;
      }
      &-none {
        display: none;
      }
    }

    &-line-height {
      &-sm {
        line-height: $rem;
      }
      &-base {
        line-height: $rem * 1.5;
      }
      &-md {
        line-height: $rem * 2;
      }
      &-lg {
        line-height: $rem * 3;
      }
      &-xl {
        line-height: $rem * 4;
      }
      &-xxl {
        line-height: $rem * 5;
      }
      &-xxxl {
        line-height: $rem * 6;
      }
    }
    &-width {
      &-1 {
        width: $rem;
      }
      &-2 {
        width: $rem * 2;
      }
      &-3 {
        width: $rem * 3;
      }
      &-4 {
        width: $rem * 4;
      }
      &-5 {
        width: $rem * 5;
      }
      &-6 {
        width: $rem * 6;
      }
      &-7 {
        width: $rem * 7;
      }
      &-8 {
        width: $rem * 8;
      }
      &-10 {
        width: $rem * 10;
      }
      &-20 {
        width: $rem * 20;
      }
      &-21 {
        width: $rem * 21;
      }
      &-120 {
        width: $rem * 120;
      }
      &-percent {
        &-30 {
          width: 30%;
        }
        &-32 {
          width: 32%;
        }
        &-70 {
          width: 70%;
        }
        &-80 {
          width: 80%;
        }
        &-100 {
          width: 100%;
        }
      }
    }
    &-justify-content {
      &-center {
        justify-content: center;
      }
      &-flex-end {
        justify-content: flex-end;
      }
      &-flex-start {
        justify-content: flex-start;
      }
    }
    &-margin {
      &-0 {
        margin: $rem * 0.8;
      }
      &-1 {
        margin: $rem;
      }
      &-1 {
        &-and-20 {
          margin: $rem * 1.2;
        }
        &-and-50 {
          margin: $rem * 1.5;
        }
      }
      &-2 {
        margin: $rem * 2;
      }
      &-3 {
        margin: $rem * 3;
      }
      &-4 {
        margin: $rem * 4;
      }
      &-5 {
        margin: $rem * 5;
      }
      &-6 {
        margin: $rem * 6;
      }
      &-7 {
        margin: $rem * 7;
      }
      &-x {
        &-1 {
          &-and-20 {
            margin: $rem * 1.2 0px;
          }
          &-and-50 {
            margin: $rem * 1.5 0px;
          }
        }
      }
      &-y {
        &-0 {
          margin: 0px $rem * 0.3;
        }
        &-1 {
          margin: 0px $rem * 1;
          &-and-20 {
            margin: 0px $rem * 1.2;
          }
        }
        &-customize {
          margin: 0px $rem * 9.75 * 2;
        }
      }
      &-top {
        &-0 {
          margin-top: $rem * 0.8;
        }
        &-1 {
          margin-top: $rem;
        }
        &-1 {
          &-and-20 {
            margin-top: $rem * 1.2;
          }
          &-and-50 {
            margin-top: $rem * 1.5;
          }
        }
        &-2 {
          margin-top: $rem * 2;
        }
        &-3 {
          margin-top: $rem * 3;
        }
        &-4 {
          margin-top: $rem * 4;
        }
        &-5 {
          margin-top: $rem * 5;
        }
        &-6 {
          margin-top: $rem * 6;
        }
        &-7 {
          margin-top: $rem * 7;
        }
        &-8 {
          margin-top: $rem * 8;
        }
      }
      &-left {
        &-0 {
          margin-left: $rem * 0.8;
        }
        &-1 {
          margin-left: $rem;
        }
        &-1 {
          &-and-20 {
            margin-left: $rem * 1.2;
          }
          &-and-50 {
            margin-left: $rem * 1.5;
          }
        }
        &-2 {
          margin-left: $rem * 2;
        }
        &-3 {
          margin-left: $rem * 3;
        }
        &-4 {
          margin-left: $rem * 4;
        }
        &-5 {
          margin-left: $rem * 5;
        }
        &-6 {
          margin-left: $rem * 6;
        }
        &-7 {
          margin-left: $rem * 7;
        }
      }
      &-right {
        &-0 {
          margin-right: $rem * 0.8;
        }
        &-1 {
          margin-right: $rem;
        }
        &-1 {
          &-and-20 {
            margin-right: $rem * 1.2;
          }
          &-and-50 {
            margin-right: $rem * 1.5;
          }
        }
        &-2 {
          margin-right: $rem * 2;
        }
        &-3 {
          margin-right: $rem * 3;
        }
        &-4 {
          margin-right: $rem * 4;
        }
        &-5 {
          margin-right: $rem * 5;
        }
        &-6 {
          margin-right: $rem * 6;
        }
        &-7 {
          margin-right: $rem * 7;
        }
      }
      &-bottom {
        &-0 {
          margin-bottom: $rem * 0.8;
        }
        &-1 {
          margin-bottom: $rem;
        }
        &-1 {
          &-and-20 {
            margin-bottom: $rem * 1.2;
          }
          &-and-50 {
            margin-bottom: $rem * 1.5;
          }
        }
        &-2 {
          margin-bottom: $rem * 2;
        }
        &-3 {
          margin-bottom: $rem * 3;
        }
        &-4 {
          margin-bottom: $rem * 4;
        }
        &-5 {
          margin-bottom: $rem * 5;
        }
        &-6 {
          margin-bottom: $rem * 6;
        }
        &-7 {
          margin-bottom: $rem * 7;
        }
      }
    }
    &-space {
      &-between {
        justify-content: space-between;
      }
      &-evenly {
        justify-content: space-evenly;
      }
    }
    &-flex-start {
      justify-content: flex-start;
    }
    &-wrap {
      flex-wrap: wrap;
    }
    &-gap {
      gap: 20px;
    }
    &-overflow {
      overflow-x: auto;
      white-space: nowrap;
    }
    &-relative{
      position: relative;
    }
  }
}
