.card {
  &-img {
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
    transition: transform 0.5s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.border-none{
  border:none;
}

.page {
  &-item {
    border:none;
    color: $color-black-100;
    background-color: $color-black-0;
    width: $font-size * 3;
    height: $font-size * 3;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      border-radius: 10%;
      color: $color-black-0;
      background-color: $color-black-100;
      width: $font-size * 3;
      height: $font-size * 3;
    }
  }
  &-active {
    border-radius: 10%;
    color: $color-black-0;
    background-color: $color-black-100;
    width: $font-size * 3;
    height: $font-size * 3;
  }
}

.section {
  &-background-color {
    &-white {
      background-color: $color-black-0;
    }
  }
}

.bg-color {
  &-0 {
    background-color: $color-black-0;
  }
  &-20 {
    background-color: $color-black-20;
  }
  &-40 {
    background-color: $color-black-40;
  }
  &-60 {
    background-color: $color-black-60;
  }
  &-80 {
    background-color: $color-black-80;
  }
  &-100 {
    background-color: $color-black-100;
  }
}
